* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	gap: 0px;
	font-size: 1.5rem;
	user-select: none;
}

body {
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 20px;
    background-color: darkcyan;
}

header {
    background-color: blueviolet;
    border: 2px solid whitesmoke;
}

main {
    background-color: blueviolet;
    border: 2px solid whitesmoke;
    height: 500px;
}

footer {
    background-color: blueviolet;
    border: 2px solid whitesmoke;
}
