.mainSection {
    height: 700px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainSection .login {
    width: 600px;
    height: 600px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}