@use "../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "./buttons";
@use "./footer";
@use "./form-style";
@use "./not-found";
@use "./dynamic-card";

body{
    background-image: linear-gradient(to top, #faf0ca, #f9e9b0, #f7e295, #f6db7a, #f4d35e);
    color: #0d3b66;
    max-width: 100%;
    overflow-x: hidden;
}

.primary {
    color: #0d3b66;
}